:root {
    --chums-red: #ce0e2d;

    --palette-error-light: #ef5350;
    --palette-error-main: #d32f2f;
    --palette-error-dark: #c62828;
    --palette-warning-light: #ff9800;
    --palette-warning-main: #ed6c02;
    --palette-warning-dark: #e65100;
    --palette-info-light: #03a9f4;
    --palette-info-main: #0288d1;
    --palette-info-dark: #01579b;

    --colorSmallImageBg: transparent;
}


details[open] > .site-nav__dropdown-has-image {
    display: flex;
    flex-direction: row;
    min-width: 500px;
}


details[open] > .site-nav__dropdown-has-image ul {
    flex: 0 0 auto;
}

details[open] > .site-nav__dropdown-has-image div.site-nav__dropdown-image {
    flex: 1 1 350px;
    min-width: 350px;
    background-size: cover;
    padding-right: 5px;
    margin-left: 20px;
}

details[open] > .site-nav__dropdown-has-image div.site-nav__dropdown-image img {
    width: auto;
    height: 100%;
}


.product__thumbs.product__thumbs--below .image-wrap {
    width: 80px;
}

.product__thumbs.product__thumbs--below .product__thumbs--scroller {
    display: flex;
    justify-content: flex-start;
}

.collection-hero__title {
    margin-top: 6rem;
}

.breadcrumb {
    margin-bottom: 3rem;
}

@media only screen and (max-width: 1024px) {
    .medium--show {
        display: block !important;
    }

    .medium--hide {
        display: none !important;
    }

    .medium--text-left {
        text-align: left !important;
    }

    .medium--text-right {
        text-align: right !important;
    }

    .medium--text-center {
        text-align: center !important;
    }
}

@media only screen and (min-width: 1025px) {
    .large-up--show {
        display: block !important;
    }

    .large-up--hide {
        display: none !important;
    }

    .large-up--text-left {
        text-align: left !important;
    }

    .large-up--text-right {
        text-align: right !important;
    }

    .large-up--text-center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 1024px) {
    .large-down--show {
        display: block !important;
    }

    .large-down--hide {
        display: none !important;
    }

    .large-down--text-left {
        text-align: left !important;
    }

    .large-down--text-right {
        text-align: right !important;
    }

    .large-down--text-center {
        text-align: center !important;
    }
}

.site-nav__dropdown-link:not(.site-nav__dropdown-link--top-level):hover {
    color: var(--chums-red);
}

#CartDrawerForm button[type="submit"].cart__checkout {
    background-color: var(--chums-red);
}

.grid-product__title--heading {
    line-height: 1.5;
}

@media only screen and (min-width: 769px) {
    .site-header {
        padding: 0;
    }
    .site-header__logo {
        margin: 0;
    }
}

.footer--powered-by {
    display: none;
}
